<div class="edit-style-pg">
  <h2 class='edit-style-header'>Edit Style</h2>
  <%= form_for [:user, :client, @style], html: { multipart: true } do |f| %>
    <div class='edit-style'>
      <%= f.text_field :name, placeholder: 'name' %>

      <%= f.text_field :amount, placeholder: 'quantity' %>

      <%= f.text_field :cost, placeholder: 'unit cost' %>

      <%= f.text_field :season, placeholder: 'season' %>

      <%= f.file_field :image %>  

      <%= f.submit class: 'submit-btn' %>
    </div>
  <% end %>
</div>
  