<div class="new-style-pg">
  <h2 class="new-style-header">New Style</h2>
  <%= form_for [:user, :client, @style], html: { multipart: true } do |f| %>
    <div class='new-style'>
      <%= f.text_field :name, placeholder: 'name' %>

      <%= f.text_field :amount, placeholder: 'quantity' %>

      <%= f.text_field :labor_cost, placeholder: 'sewing labor' %>      

      <%= f.text_field :cost, placeholder: 'price quote' %>

      <%= f.text_field :season, placeholder: 'season' %>

      <%= f.file_field :image %>

      <%= f.submit 'CREATE STYLE', class: 'submit-btn' %>
    </div>
  <% end %>
</div>