<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @recipient_name %>!</p>
    <p>We're emailing to let you know that your order has been shipped.</p>
    <p>The <%= @shipping_service %> tracking number is <%= @tracking_number %>.</p>
    <p><%= @additional_notes %></p>
    <p>If you have any questions regarding your order, please email us directly at <%= @sender_email %>.</p>
    <p>Thanks!</p>
    <p><%= @sender_name %></p>
  </body>
</html>