<h1 id="ship-notification-page">Send Shipping Notifications</h1>

<%= form_tag user_ship_notifications_path(current_user), :multipart => true, method: :post do %>
    <div class="ship-notification-form">
        <%= select_tag 'recipient', options_for_select(current_user.clients.collect{ |client| [client.name, client.email] }) %>

        <div class="ship_options">
            <%= select_tag 'shipping_service', options_for_select(["FedEx", "USPS", "UPS"]) %>
        
            <%= text_field_tag :tracking_number, nil, placeholder: "Tracking Number" %>
        </div>

        <%= text_area_tag :additional_notes, nil, placeholder: "Additional Notes" %>

        <%= file_field_tag :file %>

        <%= submit_tag "Send", class:'send-shipping-notification-btn' %>
    </div>
<% end %>
