<% if current_user  %>
  <div class="welcome-scrn">
    <h2 class="welcome">Welcome, <%= "#{current_user.first_name}!" %></h2>
    <div class="clients-top-line">
      <h3>Clients</h3>
      <%= link_to '+', new_user_client_path, class: 'add-client-btn'%>
    </div>
    
    <%= form_tag [:user, :search], method: :get do %>
      <%= text_field_tag :search, "Enter Client" %>
      <%= submit_tag "Search" %>
    <% end %>
    <%= link_to "Show All", root_path, class: 'show-all' %>

  <% @clients.each do |c| %>
    <div class='client'>
      <%= link_to "#{c.name}", user_client_path(c) %>
      <%= c.email %>
    </div>
  <% end %>

  </div>
<% else %>
  <div class='login-scrn'>
    <%= render partial: 'about' %>
    <%= link_to image_tag('google_lgn.png', size: "230x60"), "/auth/google", class: "google-lgn-btn" %>
  </div>
<% end %>