<%= link_to "Home", root_path %>

<%= @client.name %>
<%= @client.email %>

<h3>Styles</h3>

<% @client.styles.each do |style| %>
  <%= link_to "#{style.name}", user_client_style_path(style.client, style) %>
  <%= style.amount %>
  <%= style.cost %>
  <%= style.season %>
<% end %>
<%= link_to "Create Style", new_user_client_style_path(@client) %>
<%= link_to "Edit Client", edit_user_client_path(@client) %>