<div class='client-info'>
  <h2 class='client-name'><%= @client.name.upcase %></h2>
  <p><%= @client.email %></p>
  <%= link_to "Edit Client", edit_user_client_path(@client), class: 'edit-client-btn' %>
</div>
<div class='style-index'>
  <div class='style-top-line'>
    <h3>Styles</h3>
    <%= link_to "+", new_user_client_style_path(@client), class: 'new-style-btn' %>
  </div>

  <%= form_tag user_client_search_path(@client), method: :get do %>
      <%= text_field_tag :search, "Enter Style" %>
      <%= submit_tag "Search" %>
  <% end %>

  <%= link_to "Show All", user_client_path(@client), class: 'show-all' %>

  <table>
    <tr>
      <th>Style</th>
      <th>Quantity</th>
      <th>Unit Cost</th>
      <th>Season</th>
    </tr>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to "#{style.name}", user_client_style_path(style.client, style) %></td>
        <td><%= style.amount %></td>
        <td><%= number_to_currency(style.cost) %></td>
        <td><%= style.season %></td>
      </tr>
    <% end %>
  </table>
</div>