<!DOCTYPE html>
<html>
  <head>
    <title>EsCostingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <div class="nav">
        <%= link_to image_tag('blackelogo.png', size: "80x70"), root_path %>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn drop"><%= image_tag('menu.png', size: '20x20', class:'dropbtn') %></button>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to "Ship Notifications", user_ship_notifications_path, class:'logout' %>
            <%= link_to "Log Out", logout_path, class:'logout' %>
          </div>
        </div>
              
      </div>
    <% else %>
      <%= link_to image_tag('blackelogo.png', size: "80x70"), root_path %>      
    <% end %>
    <% flash.each do |type, message| %>
     <% alert_type = case type
        when 'success' then 'success'
        when 'error' then 'danger'
        else 'info'
        end
      %>
      <%= content_tag :div, sanitize(message), class: "#{type} alert alert-#{alert_type}" %>
    <% end %>
    <%= yield %>
    
  </body>
</html>
